{% include 'contentabove.html' %}

    <h1>All todos</h1>
    <a href="{{ url_for('export_json') }}">Export all todos as JSON</a>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Employe assigne</th>
                <th>Statut</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.titre }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.employe }}</td>
                <td>{{ todo.statut }}</td>
                <td><a class="btn btn-primary  btn-sm" href="{{ url_for('todosEdit', titre=todo.titre) }}"><i class="bi bi-pencil"></i>Edit</a></td>
                <td><a class="btn btn-danger btn-sm" href="#" onclick="confirmDelete('{{ todo.titre }}, '{{ delete_route }}')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  
    {% include 'contentbelow.html' %}
